*{
	margin:  0 auto;
	padding:  0;
}
img{
	height: 10em;
	width: 10em;
}
h2{
	font-size: 5em;
	text-align: center;
	color:  hotpink;
	background-color: skyblue;
	margin:  0 auto;
}

.flex{
	width:  100%;
	text-align: center;
	background-color:  skyblue;
}
.item{
	width: 40%;
	border:  3px solid white;
	border-radius: 5em;
	box-shadow: 2px 2px 2px 2px hotpink;
	margin: 10px 50px 10px 50px;
	}